PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cafesystem?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
JWT_SECRET=o-zgartiring-bu-maxfiy-kalit
ENVIRONMENT=development
QR_BASE_URL=https://menu.example.com
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
